         .fc .fc-button-group button{
          border : 1px solid #6071ec;
          background: #6071ec;
          color: #FFFFFF;
         }
        .fc-icon{
            color: #FFFFFF;
        }
         .fc-event{
             background: #343f56;
         } 
         .fc-content{
             color: #FFFFFF;
         }
         .col-md-3 .card{
             background: #343f56;
             height: 850px;
         }
         .col-md-3 .card .card-title{
             margin-top: 50px;
             text-decoration: underline;
             letter-spacing: 2px; 
             text-transform: uppercase;
         }
         .col-md-3 .card h5{
             color: #FFFFFF;
             font-weight: 600;
             font-size: 20px;
             text-align: left;
             margin: 30px auto;
         }
         .col-md-3 .card .card-text{
             color: #FFFFFF;
             font-size: 26px;
             padding-left: 6px;
             padding-top: 100px;
         }
       .col-md-3 .card .card-text span{
             color: #FFFFFF;
             font-size: 21px;
/*
             padding-left: 30px;
             padding-top: 100px;
*/
         }

         .col-md-3 .card .event{
             color: #ffffff;
             font-size: 20px;
             text-align: left;
             margin-top: 28px;
             font-weight: 400;
         }


.col-md-3, .col-md-9{
float: left;
}
.add-icon {
  background: url(../plus.png);
  background-size: cover;
  background-position: center;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  width: 20px;
  cursor: pointer;
  margin-top: -15px;
  opacity: 0.1;
  transition: 0.2s ease;
}
.add-icon:hover {
  opacity: .1;
  transform: scale(1.09);
}
.fc-day {
  position: relative;
}
.fc-day-number{
    color: #a9aaae;
}

table{
    border: none;
}



         @media screen and (max-width: 1200px){
            .col-md-3 .card{
             background: #343f56;
             height: 500px;
         }
              .col-md-9{
                 margin-top: 20px;
             }
         }