/* body {
  width: 800px;
  margin: 0 auto;
} */
#graph {
width: 300px;
height: 300px;
margin: auto;
}
pre {
display: none;
}

#invo{
width: 300px;
height: 300px;
margin: auto;
}
#timeg{
/*  margin-top: 70px;*/
width: 300px;
height: 300px;
margin: auto;
}


@media only screen and (min-device-width: 768px) 
                   and (max-device-width: 991px) 
                   and (-webkit-min-device-pixel-ratio: 1) 
{
#graph {
width: 250px;
height: 250px;
margin: auto;
/*    display: none;*/
}
pre {
display: none;
}

#invo{
width: 250px;
height: 250px;
margin: auto;
/*    display: none;*/
}
#timeg{
/*  margin-top: 70px;*/
width: 250px;
height: 250px;
margin: auto;
/*    display: none;*/
}
}
@media only screen and (max-width: 600px) 
                   and (-webkit-min-device-pixel-ratio: 1) 
{
#graph {
width: 250px;
height: 250px;
margin: auto;
/*    display: none;*/
}
pre {
display: none;
}

#invo{
width: 250px;
height: 250px;
margin: auto;
/*    display: none;*/
}
#timeg{
/*  margin-top: 70px;*/
width: 250px;
height: 250px;
margin: auto;
/*    display: none;*/
}
}
